:root {
    --primary-text: rgb(0, 25, 36);
    --primary-bg: white !important;
    --secondary-text: #0DCAF0 !important;
    --secondary-bg: #F6F5F5;
}

body{
    color: var(--primary-text);
    background-color: var(--primary-bg);
    margin: 0;
    padding: 0;
}

/* CONTANTS */
.x-text-secondary{
    color: var(--secondary-text);
}


.x-bg-secondary {
    background-color: var(--secondary-bg);
}


/* HEADER */

